<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>YouTube Video Downloader</title>
</head>
<body>
    
    <div class="text-input">
        <form id="fetch_info_form">
            <input type="text" id="video_url" name="video_url" placeholder="Enter YouTube video or playlist URL" required>
            <label for="video_url">URL:</label>
            <button type="button" id="fetch_info_button">Search</button>
        </form>
    </div>

    <div id="video_info" style="display: none;">
        <img id="thumbnail_img" src="" alt="Thumbnail">
        <h3 id="video_title" class="title"></h3>
        <p id="video_count" class="video-count"></p>
        <div class="overlay"></div>
        <div class="button">
            <a href="#" id="download_button">Download</a>
        </div>
    </div>

    <div id="progress" style="display: none;">
        <p>Downloading...</p>
        <progress id="progressBar" value="0" max="100"></progress>
    </div>

    <p id="message" style="color: green;"></p>
    <p id="error" style="color: red;"></p>

    <script>
        document.getElementById('fetch_info_button').addEventListener('click', function() {
            const videoUrl = document.getElementById('video_url').value;
            fetch('/fetch_info', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `video_url=${videoUrl}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('error').innerText = data.error;
                    document.getElementById('message').innerText = '';
                } else {
                    document.getElementById('video_title').innerText = data.title;
                    document.getElementById('thumbnail_img').src = data.thumbnail_url;
                    document.getElementById('video_info').style.display = 'block';
                    document.getElementById('download_video_url').value = videoUrl;
                    document.getElementById('error').innerText = '';
                    document.getElementById('message').innerText = '';
                    if (data.video_count) {
                        document.getElementById('video_count').innerText = `Number of videos: ${data.video_count}`;
                    }
                }
            });
        });

        document.getElementById('download_button').addEventListener('click', function(e) {
            e.preventDefault();  // Prevent the default anchor behavior
            document.getElementById('progress').style.display = 'block';
            const videoUrl = document.getElementById('video_url').value;
            fetch('/download', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `video_url=${videoUrl}`
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('progress').style.display = 'none';
                if (data.error) {
                    document.getElementById('error').innerText = data.error;
                    document.getElementById('message').innerText = '';
                } else {
                    document.getElementById('message').innerText = data.message;
                    document.getElementById('error').innerText = '';
                }
            });
        });
    </script>

</body>
</html>
