<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>YouTube Video Downloader</title>
</head>
<body>
    
    <div class="text-input">
        <form method="post">
            <input type="text" id="video_url" name="video_url" placeholder="Try typing something in here!" required>
            <label for="video_url">URL:</label>
            <button type="submit">Download</button>
        </form>
    </div>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% elif message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}

</body>
</html>
